<footer>
    <section class="top">
        <div>
            <h1> <img src="../static/Images/arrow.png" alt="">Conduisez avec nos enseignants</h1>
            <p>Construisez la conduite de demain aux côtés de nos enseignants indépendants,
                passionnés par leur mission : vous apprendre à conduire de manière positive et sûre.
            </p>
            <h6>Enseignants indépendants ? <a href="">Rejoignez-nous</a></h6>
        </div>
        <div>
            <h1><img src="../static/Images/arrow.png" alt="">Conduisez avec nos enseignants</h1>
            <p>Construisez la conduite de demain aux côtés de nos enseignants indépendants,
                passionnés par leur mission : vous apprendre à conduire de manière positive et sûre.
            </p>
            <h6>Enseignants indépendants ? <a href="">Rejoignez-nous</a></h6>
        </div>
    </section>
    <hr>
    <section class="down">
        <div class="first">
            <img src="../static/Images/logo.png" alt="" class="img_first">
            <img src="../static/Images/evaluation.png" class="img_first">
            <p>Afin de faciliter votre expérience, 
                nous vous permettons d’avancer à votre rythme sur la voie de la réussite.
            </p>
            <div class="emoji">
                <img src="../static/Images/facebook.png" alt="facebook">
                <img src="../static/Images/whatsapp.png" alt="whatsapp">
                <img src="../static/Images/tiktok.png" alt="tiktok">
                <img src="../static/Images/instagram.png" alt="instagram">
            </div>
        </div>
        <div>
            <h1>Company</h1>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
        </div>
        <div>
            <h1>Meet US</h1>
            <a href="tel:+2250708774337">+225 0708774337</a>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
        </div>
        <div>
            <h1>Company</h1>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
            <p>Why Travlog?</p>
        </div>
    </section>
</footer>