{% extends "./admin/main.html" %}
{% block content %}
<section class="home body">
<div class="box round-red">
        <svg>
            <circle cx="70px" cy="70px" r="70px" ></circle>
            <circle cx="70px" cy="70px" r="70px" ></circle>
        </svg>
    </div>
    <span class="span-1">25%</span>
    <h3 class="h3-1">Il vous faut 70%   Vous y êtes presque! !</h3>
    <p class="p-1">Vous n'avez plus de tantative, ci-dessous vous pouvez voir le score final de cette évaluation.</p>
    <button class="button">
        <img src="../static/Images/oeil.png" alt="oeil" id="oeil">
        Découvrez la solution
    </button>
    </section>
{% endblock %}