{% extends "./dashbord/base.html" %}
{% block content %}
<section class="Formulaire home">

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <form method="POST" class="form" action="{{url_for('edit_module',IdModule=data.0)}}" enctype="multipart/form-data">
        <div class="Ajout_module">
            <a href="#"><h1>Ajouter Module</h1></a>
        </div>
        <div class="nom_module">
            <h3>Nom module :</h3> <input type="text" placeholder="" class="module" name="NomModule" value="{{data.1}}" required>
        </div>

        <div class="module_photo">
            <h3>Photo: </h3>
            <input type="file" name="image" accept="image/" required/>
        </div>

        <div class="check_btn">
            {% for row in categorie %}
            <input type="checkbox" name="Categorie[]" id="Categorie{{loop.index}}" value="{{ row[0] }}" >
            <label for="Categorie{{loop.index}}">{{ row[1] }}</label>
            {% endfor %}
        </div>

        <div class="module_button">
            <button type="submit" class="annuler"><a href="/view_module/">Annuler</a></button>
            <button type="submit" class="valider">Valider</button>
        </div>

    </form>
</section>
{% endblock %}