{% extends './admin/main.html' %}

{% block content %}
<section class="home">
<div class="course-content ">
    {% for course in courses %}
    <div id="page{{ course.0 }}" class="content-page">
        <h2>{{ course.2 }}</h2>
        <p>{{ course.3 }}</p>
    </div>
    {% endfor %}


</div>
    <div class="navigation-buttons">
        <button id="prevButton">Précédent</button>
        <button id="nextButton">Suivant</button>
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
</style>

<style>
    .course-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
    }

    .content-page h2 {
        text-decoration:underline;
        margin-top:10px;
        font-family: 'Autour One';
        text-align: center;
    }

    .content-page p {
         line-height: 1.5;
        position: relative;
        top: 10%;
        text-align:center;
        white-space: wrap;
       font-size:1.05rem;
       font-family:'Autour One';
    }

    .content-page {
        position: absolute;
        background-color: #fff;
        height: 70%;
        display: none;
        width: 80%;
        left: 10%;
        top: 20%;
        box-sizing:border-box;

    }

    .navigation-buttons {
        display:flex;
        justify-content:center;
        gap:20%;
    }

    button {
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
        width:100px;
        background-color:#08D48E;
        border:none;
        border-radius:10px;
        color:#fff;
        height:50px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    let currentPage = 1;
    const totalPages = {{ courses|length }};

    function showPage(pageNumber) {
        document.querySelectorAll('.content-page').forEach(function (page) {
            page.style.display = 'none';
        });

        document.getElementById('page' + pageNumber).style.display = 'block';
    }

    function updateButtons() {
        document.getElementById('prevButton').disabled = currentPage === 1;
        document.getElementById('nextButton').disabled = currentPage === totalPages;
    }

    function goToPreviousPage() {
        if (currentPage > 1) {
            currentPage--;
            showPage(currentPage);
            updateButtons();
        }
    }

    function goToNextPage() {
        if (currentPage < totalPages) {
            currentPage++;
            showPage(currentPage);
            updateButtons();
        }
    }

    showPage(currentPage);
    updateButtons();

    document.getElementById('prevButton').addEventListener('click', goToPreviousPage);
    document.getElementById('nextButton').addEventListener('click', goToNextPage);
});


</script>
{% endblock %}
