/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 90%;
  background: #fff;
  margin-left: 10%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}
.user{
    margin-top: 10px;
    width: 70px;
    /* background-color: #08D48E; */
    border-radius: 50%;
    border: 4px solid #08D48E;
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

/* ############################################## SIDEBAR ################################# */
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/* body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
} */

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 70px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #08D48E;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: #08D48E;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    /* margin-left: 5%; */
    margin-top: 10%;
    /* overflow-x: hidden; */
    z-index:-1;

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
    
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* ################################# View abonnée ############################*/
main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;

    box-shadow: 0 .2rem .5rem #0004;

    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
  /* ################################################### admin ##############*/
  .main{

  padding: 20px;
  overflow-y: scroll;
  height: 100vh;
}

/* Largeur de la barre de défilement */
::-webkit-scrollbar {
  width: 4px;
}

/* Couleur de fond de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Couleur de la poignée/de la barre de défilement elle-même */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style de bordure de la poignée */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.main-home-section{
    /* border:5px solid green; */
    position: relative;
    top: 50px;
    display: grid !important;
    gap: 2rem;
}
@media screen and (min-width: 768px) {
    .main-home-section{
       grid-template-columns: repeat(3, 1fr);
    }
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main-top button{
    position: absolute;
    right: 0;
    margin: 5px 30px;
    background: #08D48E;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }


.main-skills{
  display: flex;
  /* width: 25%; */
  margin-top: 20px;
  height: 40vh;
  /* border:2px solid red; */
}
.main-skills .card{
   position:relative;
  width: 100%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 15px;
}
.main-skills .card button{
  background: #08D48E;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: #4C34E0;
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}
 .card {
        cursor:pointer;
        position: relative;
        background: #fff; /* Ajoutez un fond blanc ou une couleur de fond par défaut */
        transition: background 0.3s; /* Ajoutez une transition pour une animation en douceur */
    }

    .card:hover {
        background: rgb(26, 43, 37);
    }

    .buttons-container {
        position: absolute;
        top: 40%;
        left: 30%;
        display: none;

    }

    .card:hover .buttons-container {
        display: block;
        display:flex;
        align-items:center;
    }

    .buttons-container a {
        display: block;

        text-decoration: none;

        width: 50px;
        text-align: center;
        border-radius: 5px;
    }

    .buttons-container a:hover {
        background-color: #ddd;
    }




/*Attendance List serction  */
.attendance{
    margin-top: 20px;
    text-transform: capitalize;
  }
  .attendance-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: #fff;
    background: #34AF6D;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid #4AD489;
  }
  .table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
  }
  .table button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
  }


  /* ################################ ADD Module ##############################*/



  .Formulaire
{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgb(231, 226, 226);
    align-items: center;

}

form
{
    width: 80%;
    height: 70%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
}

.Ajout_module
{
    width: 60%;
    height: 15%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.Ajout_module a
{
    color:#08D48E;
}

.nom_module
{
    width: 60%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.module
{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
}

.module_photo
{
    width: 60%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo
{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
}

.module_button
{
    width: 50%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 15%;
}
.annuler
{
    width: 20%;
    height: 60%;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 1px solid;
}

.valider
{
    width: 20%;
    height: 60%;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: 1px solid;
}
.annuler a
{
    color: white;
    text-decoration: none;
}
.valider a
{
    color: white;
    text-decoration: none;
}

/* parties respensivité */

@media only screen and (max-width: 600px) {
    form
{
    width: 90%;
    height: 70%;
    display: flex;

}
    .Ajout_module {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;

    }
    .nom_module
{
    width: 100%;
    height: 15%;
    display: flex;

}
.module
{
    width: 50%;
    height: 60%;
    display: flex;

}
.module_photo
{
    width: 100%;
    height: 15%;
    display: flex;

}
.photo
{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 5px;

}
.module_button
{
    width: 100%;
    height: 15%;
    display: flex;

}


}

@media only screen and (min-width: 1200px) {

    .Ajout_module
    {
        width: 60%;
        height: 15%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
}

/* ################################### Fin module #################################*/