<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='dashboard.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./Images/logo.png')}}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>EpsiDrive</title>
</head>
<body>
{% include './dashbord/menu_admin.html' %}
{% include './dashbord/sidebar.html' %}


{% block content %}
{% endblock %}
<script src="../static/javascript/script.js"></script>
<script src="../static/JS/script.js"></script>

</body>
</html>