
{% extends './base.html' %}
{% block content %}
<section class="paiement_contener">
  <!-- <div class="paiement">
    <div class="type_paiement_contener">
      <div><h4>Simple, Transparent rricing</h4></div>
      <div class="type_paiement">
        <div class="choix_type_paiement">
          <div><i class="fa fa-money transfer"></i></div>
          <div><p>Moblile Money</p></div>

<div class="paiement_contener">
  <div class="paiement">
    <div class="container">
      <div class="title">
        <h4>Select a <span style="color: #6064b6">Payment</span> method</h4>
      </div>

      <form action="#">
        <input type="radio" name="payment" id="visa">
        <input type="radio" name="payment" id="mastercard">
        <input type="radio" name="payment" id="paypal">
        <input type="radio" name="payment" id="AMEX">

        <div class="category">
          <label for="visa" class="visaMethod">
            <div class="imgName">
              <div class="imgContainer visa">
                <img src="https://i.ibb.co/vjQCN4y/Visa-Card.png" alt="">
              </div>
              <span class="name">VISA</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>

          <label for="mastercard" class="mastercardMethod">
            <div class="imgName">
              <div class="imgContainer mastercard">
                <img src="https://i.ibb.co/vdbBkgT/mastercard.jpg" alt="">
              </div>
              <span class="name">Mastercard</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>

          <label for="paypal" class="paypalMethod">
            <div class="imgName">
              <div class="imgContainer paypal">
                <img src="https://i.ibb.co/KVF3mr1/paypal.png" alt="">
              </div>
              <span class="name">Paypal</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>

          <label for="AMEX" class="amexMethod">
            <div class="imgName">
              <div class="imgContainer AMEX">
                <img src="https://i.ibb.co/wQnrX86/American-Express.jpg" alt="">
              </div>
              <span class="name">AMEX</span>
            </div>
            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
          </label>
        </div>
        <div class="type_paiement_contener">
          <label for="numero">Entrez votre Numero de téléphone</label> <br />
          <input id="numero"
            type="tel"
            placeholder="Ex:0723657854"
            name="numero_de_paiement"
            required
          />
        </div>
      </div>
    </div>
    <div class="mode_paiement">
      <div><p>Mode de paiement</p></div>
      <div class="mode_paiement_img">
        <div class="mode_paiement_img1"></div>
        <div class="mode_paiement_img2"></div>
        <div class="mode_paiement_img3"></div>
      </div>
    </div> -->

    <div class="container">
      <div class="title">
          <h4>Select a <span style="color: #6064b6">Payment</span> method</h4>
      </div>

      <form action="{{url_for('mode_paiement')}}" method="POST">
          <input type="radio" name="payment" id="visa" value="MTN-money">
          <input type="radio" name="payment" id="mastercard" value="orange">
          <input type="radio" name="payment" id="paypal" value="moov">
          <input type="radio" name="payment" id="AMEX" value="payplay">


          <div class="category">
              <label for="visa" class="visaMethod">
                  <div class="imgName">
                      <div class="imgContainer visa">
                        <img src="https://i.ibb.co/fSPJDgj/MTN-Logo-1024x576.jpg" alt="MTN-Logo-1024x576" border="0" />
                        <!-- <img src="https://i.ibb.co/6Wy6f7j/mtn-momo.png" alt="mtn-momo"/> -->
                      </div>
                      <span class="name">MTN-Money</span>
                  </div>
                  <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>

              <label for="mastercard" class="mastercardMethod">
                  <div class="imgName">
                      <div class="imgContainer mastercard">
                          <img src="https://i.ibb.co/NVwG2PV/orange-money.jpg" alt="orange-money" width="100px" />
                      </div>
                      <span class="name">OrangeMoney</span>
                  </div>
                  <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>

              <label for="paypal" class="paypalMethod">
                  <div class="imgName">
                      <div class="imgContainer paypal">
                          <img src="https://i.ibb.co/KVF3mr1/paypal.png" alt="">
                      </div>
                      <span class="name">Paypal</span>
                  </div>
                  <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>

              <label for="AMEX" class="amexMethod">
                  <div class="imgName">
                      <div class="imgContainer AMEX">
                          <!-- <img src="https://i.ibb.co/wQnrX86/American-Express.jpg" alt=""> -->
                         <img src="https://i.ibb.co/SntR7Nk/moov-money.jpg" alt="moov-money"/>
                      </div>
                      <span class="name">AMEX</span>
                  </div>
                  <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
              </label>
          </div>
      </form>
      
  </div>
    <div class="numero_paiement">
      <form action="">
        <label for="numero">Entrez votre Numero de téléphone</label> <br />
        <input id="numero"
          type="tel"
          placeholder="Ex:0723657854"
          name="numero_de_paiement"
          required
        />

      </form>
    </div>
    <div class="confirmer_paiement">
      <div class="confirmer_paiement_avertis">
        <p>
          Cher client, avant de continuer le processus de paiment , nous vous
          invitons à verifier que vous disposez bien du montant de la
          transaction sur votre compte Mobile money ou votre Compte Bancaire .
        </p>
      </div>

      <form action="/user" class="paiement_fond">

      <form action="" class="paiement_fond">

         <div class="confirmer_paiement_fond">
           <input type="checkbox" name="case_a_cocher" id="declaration">
           <label for="declaration">Je dispose des fonds neccessaires pour continuer cette operation</label>
         </div>
         <div class="confirmer_annuler">
           <button type="submit">Annuler</button>

           <button type="submit">Payer</button>
               
         </div>
      </form>
  </div>
  </div>
</section> 
<style>
  .container{
    width: 70%;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.category label{
    /* width: 100%; */
    /* height: 65px; */
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */


#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check{
    display: block;
}


label .imgName{
    display: flex;
    /* justify-content: space-between;
     */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span{
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

img{
    width: 50px;
    height: auto;
}

.visa img{
    width: 80px;
    /* margin-left: 5px; */
}

.mastercard img{
    width: 65px;
}

.paypal img{
    width: 80px;
}

.AMEX img{
    width: 50px;
}

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}

    
    .container{
    width: 80%;
    height: 50%;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
    }

    .container .title{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container form input{
        display: none;
    }

    .container form .category{
        margin-top: 10px;
        padding-top: 20px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .category label{
        /* width: 100%; */
        /* height: 65px; */
        height: 145px;
        padding: 20px;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
    }

    /* label:nth-child(2), label:nth-child(3){
        margin: 15px 0;
    } */


    #visa:checked ~ .category .visaMethod,
    #mastercard:checked ~ .category .mastercardMethod,
    #paypal:checked ~ .category .paypalMethod,
    #AMEX:checked ~ .category .amexMethod{
        box-shadow: 0px 0px 0px 1px #6064b6;
    }


    #visa:checked ~ .category .visaMethod .check,
    #mastercard:checked ~ .category .mastercardMethod .check,
    #paypal:checked ~ .category .paypalMethod .check,
    #AMEX:checked ~ .category .amexMethod .check{
        display: block;
    }


    label .imgName{
        display: flex;
        /* justify-content: space-between;
        */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .imgName span{
        /* margin-left: 20px; */
        font-family: Arial, Helvetica, sans-serif;

        position: absolute;
        top: 72%;
        transform: translateY(-72%);
    }

    .imgName .imgContainer{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 35%;
        transform: translateY(-35%);
    }

    img{
        width: 50px;
        height: auto;
    }

    .visa img{
        width: 80px;
        /* margin-left: 5px; */
    }

    .mastercard img{
        width: 65px;
    }

    .paypal img{
        width: 80px;
    }

    .AMEX img{
        width: 50px;
    }

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}
  </style>
</div>
  </div>
</div>
{% endblock %}
